<a href="https://colab.research.google.com/github/Lu-Brito/DS_2021_PPGI/blob/main/NotebookDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.read_excel("/content/drive/MyDrive/UFRJ/Doutorado/Ciencia_de_Dados/datasets/Cópia de DataSetTeste.xlsx")

                          Nome  Interações
0                Alayne Duarte         219
1    Alexandre Machado Mat CP2         130
2                      Arideia          23
3                    Artur CP2        1371
4                 Beth Bio CP2         922
5                      Cecília         145
6                Dani Nogueira          88
7                    Erika Cp2         228
8                 Gabriela Quí         174
9                      Geovane        1151
10               João Gregorio          10
11                  Katia SOEP         132
12          Léo Castro Geo CP2         229
13        Leo Prata Física CP2         176
14          Letícia Inglês CP2         488
15              Matheus Castro         297
16                     Natasha         422
17                Rafael Ninja          26
18             Rodolfo Desenho          25
19            Rommel Filos CP2         198
20               Vivian PROEJA          71
21         Viviane Tavares Cp2          20
22            +55 21 2784-4202          16
23           +55 21 97284-2151         248
24           +55 21 97608-5876           9
25           +55 21 97994-2906         121
26           +55 21 98001-0646         232
27           +55 21 98146-4210          23
28           +55 21 98318-5490           2
29           +55 21 98540-0303          81
30           +55 21 98736-0284         360
31           +55 21 99180-5305          17
32           +55 21 99361-9766         237
33           +55 21 99377-7031           1
34           +55 21 99492-2569          45
35           +55 21 99596-1924          24
36           +55 21 99637-1393          76
37           +55 21 99700-0672         102
38           +55 21 99874-0664         222

In [6]:
dados=pd.read_excel("/content/drive/MyDrive/UFRJ/Doutorado/Ciencia_de_Dados/datasets/Cópia de DataSetTeste.xlsx")